# Salin file ini menjadi .env
PORT=5005

# Opsi 1: MongoDB Lokal (jika install MongoDB di laptop)
MONGO_URI=mongodb://127.0.0.1:27017/sosis_heaven_sentosa

# Opsi 2: MongoDB Atlas (Cloud Gratis)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/sosis_heaven_sentosa?retryWrites=true&w=majority
